<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      <div class="account-wall">
        <div id="my-tab-content" class="tab-content">
          <p class="container form-signin login-title">Sign Up</p>
          <%= form_for @user do |f|%>
          <%= f.label :username, class: "container"%><br>
          <%= f.text_field :username, class: "form-control form-signin"%><br>
          <%= f.label :password, class: "container"%><br>
          <%= f.password_field :password, class: "form-control form-signin"%><br>
          <%= f.label :password_confirmation, class: "container"%><br>
          <%= f.password_field :password_confirmation, class: "form-control form-signin"%><br>
          <br>
          
          <%= f.submit "Sign Up", class: 'btn btn-primary'%>
          
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
