<div class="container">
  <h1>{{recipe.title}}</h1>
  <img src="{{recipe.image_url}}">
  <p>{{recipe.f2f_url}}</p>
  <p>{{recipe.ingredients}}</p>
  <p>{{recipe.social_rank}}</p>

  <button class='comment'>Add Comment</button>
  <button class='try'>To Try</button>

  <p><button class='close'>Close</button></p>
</div>