<!DOCTYPE html>
<html>
<head>
  <title>RecipesApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class= "container">
	<div class="login">
	
	<% if session[:current_user_id]%>
	   <h1>Welcome Back, <%= "#{User.find(session[:current_user_id]).username}"%> </h1>


	   <%= link_to "User Profile", user_path(session[:current_user_id])%>
	   <%= link_to "Logout", sessions_path, method: :delete %>

	  
	  		
				<div id='modal'></div>
				<div id='recipe-list'>

					<div id='search'>
						<input type="text" name='search' id='recipe-search'>
						<button class="search">Search</button>

		<div class= "page" id="services">
	  	<div class="content container">
				<h2>Recipe List based on Ingredients inputted</h2>
				<div id='recipes'></div>
			</div>
		</div>

				<div id="goHere"></div>
			</div>
		</div>



	   <% else %>
	   <p>Already a Member</p>
	   <%= form_tag(sessions_path) do%> 
	   <%= label_tag :username%>
	   <%= text_field_tag :username%>
	   <br>
	   <%= label_tag :password %>
	   <%= password_field_tag :password%>
	   <br>
	   <%= submit_tag "Login"%>
	   <% end %>
	 <% end %>
	</div>

<%= yield %>


</div>
</body>
</html>
